header {
  background-color: #525252;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.course {
  width: 90vw;
  margin: auto;
  padding: 20px 0 20px;
}

.course__eur {
  margin-bottom: 10px;
}

.course__uah {
  margin-right: 20px;
  color: #afafaf;
}

.course__uah--margin {
  margin-left: 2px;
}
