<div class="wrapper">
  <div class="converter">
    <h1 class="converter__header">Currency Converter Fixer API</h1>
    <div class="converter__first-currency">
      <input class="converter__first-input"
             type="number"
             [(ngModel)]="firstAmount"
             (input)="firstAmountChange()"
      />
      <select
        class="converter__first-select"
        name="currencies"
        [(ngModel)]="firstSelected"
        (change)="firstCurrencyChange()"
      >
        <option
          [value]="currency"
          *ngFor="let currency of allCurrencies"
        >{{currency}}</option>
      </select>
    </div>
    <div class="converter__second-currency">
      <input class="converter__second-input"
             type="number"
             [(ngModel)]="secondAmount"
             (input)="secondAmountChange()"
      />
      <select
        class="converter__second-select"
        name="currencies"
        [(ngModel)]="secondSelected"
        (change)="secondCurrencyChange()"
      >
        <option
          [value]="currency"
          *ngFor="let currency of allCurrencies"
        >{{currency}}</option>
      </select>
    </div>
  </div>
</div>
