<div class="wrapper">
  <div class="converter" [formGroup]="registrationForm">
    <h1 class="converter__header">Currency Converter</h1>
    <div class="converter__first-currency">
      <input class="converter__first-input"
             type="number"
             formControlName="firstInput"
             [(ngModel)]="firstAmount"
             (input)="amountChange('first-input')"
      />
      <select
        class="converter__first-select"
        name="currencies"
        formControlName="firstSelect"
        [(ngModel)]="firstSelected"
        (change)="currencyChange('first-select')"
      >
        <option
          [ngValue]="currency"
          *ngFor="let currency of allCurrencies"
        >{{currency}}</option>
      </select>
    </div>
    <div class="converter__second-currency">
      <input class="converter__second-input"
             type="number"
             formControlName="secondInput"
             [(ngModel)]="secondAmount"
             (input)="amountChange('second-input')"
      />
      <select
        class="converter__second-select"
        name="currencies"
        formControlName="secondSelect"
        [(ngModel)]="secondSelected"
        (change)="currencyChange('second-select')"
      >
        <option
          [ngValue]="currency"
          *ngFor="let currency of allCurrencies"
        >{{currency}}</option>
      </select>
    </div>
  </div>
</div>
