<div class="wrapper">
  <div class="converter">
    <h1 class="converter__header">Currency Converter</h1>
    <div class="converter__first-currency">
      <app-input
        flag='first-input'
        [amount]="firstAmount"
        [secondAmount]="secondAmount"
        (onChange)="updateAmount($event)"
      ></app-input>
      <app-select
        flag='first-input'
        [allCurrencies]="allCurrencies"
        [selected]="firstSelected"
        (onChange)="updateCurrency($event)"
      ></app-select>
    </div>
    <div class="converter__second-currency">
      <app-input
        flag='second-input'
        [amount]="secondAmount"
        [secondAmount]="firstAmount"
        (onChange)="updateAmount($event)"
      ></app-input>
      <app-select
        flag='second-input'
        [allCurrencies]="allCurrencies"
        [selected]="secondSelected"
        (onChange)="updateCurrency($event)"
      ></app-select>
    </div>
  </div>
</div>
